    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    @font-face {
        font-family: arodorapro-light;
        src: url(../font/ArodoraPro-Light.otf);
    }
    
    @font-face {
        font-family: arodorapro-italic;
        src: url(../font/ArodoraPro-LightItalic.otf);
    }
    
    @font-face {
        font-family: next-bold;
        src: url(../font/NEXT\ ART_Bold.otf);
    }
    
    @font-face {
        font-family: next-heavy;
        src: url(../font/NEXT\ ART_Heavy.otf);
    }
    
    @font-face {
        font-family: next-light;
        src: url(../font/NEXT\ ART_Light.otf);
    }
    
    @font-face {
        font-family: next-regular;
        src: url(../font/NEXT\ ART_Regular.otf);
    }
    
    @font-face {
        font-family: next-semibold;
        src: url(../font/NEXT\ ART_SemiBold.otf);
    }
    
    @font-face {
        font-family: nico;
        src: url(../font/NicoMoji-Regular.ttf);
    }
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    * {
        scroll-behavior: smooth;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    @media (max-width: 992px) {
        .about {
            padding: 50px 10px !important;
        }
        .boxabout {
            padding: 50 20px !important;
        }
        .links {
            align-items: center;
            flex-direction: column;
            display: flex;
            justify-content: center;
        }
    }
    
    .navbar-nav {
        justify-content: center;
        width: 100%;
    }
    
    .navbar {
        background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    }
    
    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-link {
        font-family: 'Poiret One', cursive;
        color: #E4E4E4;
        font-size: 19px;
    }
    
    .logoname {
        font-family: 'nico';
        color: white;
        font-size: 18px;
        font-weight: 100;
    }
    
    .logo {
        width: 50px;
    }
    
    .main {
        padding: 50px;
        background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    }
    
    .hello h1 {
        font-family: 'next-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .hello h2 {
        font-family: 'next-bold';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .hello p {
        font-family: 'Poiret One', cursive;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .imgs {
        width: 100%;
    }
    
    .hello button {
        background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
        box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
        border-radius: 6px;
        width: 100%;
        height: 100vh;
        max-width: 200px;
        max-height: 47px;
        border: none;
        font-family: 'next-bold';
        transition: 0.5s;
    }
    
    .hello button:hover {
        color: white;
        background: linear-gradient(87.32deg, #3d2c0a 4.47%, #3d2c0a 95.53%);
        box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.48);
        transition: 0.5s;
        max-height: 67px !important;
    }
    
    .boxicon {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        color: white;
        box-sizing: border-box;
        width: 270px;
        height: 270px;
        background: #2A2A2A;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
        border-radius: 29px;
    }
    
    .skills {
        padding: 50px;
        background-color: #414141;
    }
    
    .boxicon p {
        font-size: 20px;
        font-family: 'Poiret One', cursive;
        font-weight: bold;
    }
    
    .skilltag {
        overflow-x: auto;
        padding: 10px 10px;
        background-color: #00C4F0;
    }
    
    .about h1 {
        font-family: 'next-bold';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: e2e2e2;
    }
    
    .about {
        padding: 50px;
        background-image: url(../img/background2.svg);
        background-size: auto;
        background-color: #414141;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .boxabout {
        font-family: 'Poiret One', cursive;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #E4E4E4;
        padding: 50px;
        box-sizing: border-box;
        max-width: 612px;
        max-height: 100%;
        background: #2A2A2A;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
        border-radius: 29px;
    }
    
    .portfolio {
        background-color: #1C1C1C;
        padding: 50px;
    }
    
    .portfolio h1 {
        font-family: 'next-bold';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .boxportfolio {
        cursor: pointer;
        margin: 20px;
        width: 100vw;
        height: 206vh;
        max-width: 332px;
        max-height: 206px;
        box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
        border-radius: 29px;
        transition: .5s;
        margin-bottom: 50px;
    }
    
    .boxportfolio img {
        opacity: 30%;
        border-radius: 29px;
        width: 100vw;
        height: 206vh;
        max-width: 332px;
        max-height: 206px;
    }
    
    a:link {
        text-decoration: none;
    }
    
    .boxportfolio p {
        font-family: 'next-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .boxportfolio img:hover {
        opacity: 100%;
        transition: .5s;
    }
    
    .modal-content {
        width: 100%;
        background: #2A2A2A;
        padding: 40px;
        height: 100vh;
        max-height: 670px;
        justify-content: space-around;
    }
    
    .embed-container {
        position: relative;
        padding-bottom: 26.25%;
        height: 0;
        overflow: hidden;
        max-width: 70%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .modal .top .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .info {
        max-width: 300px;
        padding: 30px;
    }
    
    .title {
        font-family: 'next-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .info p {
        font-family: 'arodorapro-light';
        font-style: normal;
        font-weight: regular;
        font-size: 16px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .info span {
        color: white;
    }
    
    .btn {
        background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
        box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
        border-radius: 6px;
        width: 100%;
        height: 100vh;
        max-width: 200px;
        max-height: 47px;
        border: none;
        font-family: 'next-bold';
    }
    
    .btn:hover {
        color: white;
        background: linear-gradient(87.32deg, #3d2c0a 4.47%, #3d2c0a 95.53%);
        box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.48);
        transition: 0.5s;
        max-height: 67px !important;
    }
    
    .footer {
        padding: 50px;
        background-color: #2A2A2A;
    }
    
    .logoname2 {
        font-family: 'next-bold';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .footer a {
        font-family: 'next-bold';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 54px;
        display: flex;
        align-items: center;
        /* text */
        color: #E4E4E4;
    }
    
    .nav-link:hover {
        color: #E29500;
    }
    /* Animação */
    
    [data-anime] {
        opacity: 0;
        transition: .3s;
    }
    
    [data-anime="left"] {
        transform: translate3d(-50px, 0, 0);
    }
    
    [data-anime="right"] {
        transform: translate3d(50px, 0, 0);
    }
    
    [data-anime="top"] {
        transform: translate3d(0, -50px, 0);
    }
    
    [data-anime="bot"] {
        transform: translate3d(0, 50px, 0);
    }
    
    [data-anime].animate {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
